h1 {
    color:blueviolet;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

.cardbox {
    height: 500px;
    width: 350px;
    padding: 30px;
    border: 5px solid rgb(209, 209, 245);
    border-radius: 3px 90px 3px 50px;
    background-color: rgb(243, 251, 252);
    display: inline-block;
    border-style: ridge;
    border-left: double darkmagenta;
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* //for the last day stuff */
    cursor:pointer;
    transition: transform 0.2s;
    
}

.cardbox:hover {
    background-color: rgb(225, 245, 248);
    transform: scale(1.05) rotate(-5deg);
    box-shadow: 0px 0px 30px rgb(185, 149, 206);
}

.flexbox-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(246, 236, 250);
    flex-wrap: wrap;
}


.image-container {
/* Specify the size for the box */
/* width = the card's width */
    width: 100%;
/* Some height in px, smaller that the card's height */
    height: 300px;
/* Crop the image if it's larger that the box */
    overflow: hidden;

/* Move the image to the center of the box */
/* Remember these 3 lines. You will use them a lot with

Flexbox! */

    display: flex;
    align-items: center;
    justify-content: center;

}

img {
    /* height: 300px;
    width: 100%; */
    min-width: 100%;
    min-height: 100%;
    opacity: 0.5;
}

div.cardbox img:hover {
    border-radius: 30%;
    opacity: 1;
}

#main-title {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p {
    color: darkblue;
}

.subtitle {
    color:darkslateblue;
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

/*this does the same thing but on each h2 */

h2 {
    color:darkslateblue;
    font-size: 25px;
    font-family: Impact;
    text-align: center;
}

.yellow-circle {
    width: 15px;
    height: 15px;
    
    /* Make it rounded */
    
    border-radius: 50%;
    background-color: yellow;
    }

.background-ellipse_red {
    background-color: rgb(255, 240, 240);
    border-radius: 50%;
    width: 1000px;
    height: 1000px;
    
 /* Make sure this element is always behind the others (cards and
    header) */
    z-index: -1;
    position: absolute;
    
    /* y coordinate: 10px from top of the page */
    
    top: 10px;
    
    /* x coordinate: 10px from left of the page */
    
    left: 90px;
    align-items: center;
}
.background-ellipse_orange {
    background-color: rgb(255, 248, 240);
    border-radius: 50%;
    width: 950px;
    height: 950px;
    z-index: -1;
    position: absolute;
    top: 30px;
    left: 115px;
    align-items: center;

}

.background-ellipse_yellow {
    background-color: rgb(255, 255, 240);
    border-radius: 50%;
    width: 900px;
    height: 900px;
    z-index: -1;
    position: absolute;
    top: 50px;
    left: 140px;
    align-items: center;
}

.background-ellipse_green {
    background-color: rgb(240, 255, 241);
    border-radius: 50%;
    width: 850px;
    height: 850px;
    z-index: -1;
    position: absolute;
    top: 70px;
    left: 165px;
    align-items: center;
}

.background-ellipse_blue {
    background-color: rgb(240, 241, 255);
    border-radius: 50%;
    width: 800px;
    height: 800px;
    z-index: -1;
    position: absolute;
    top: 85px;
    left: 190px;
    align-items: center;
}
.background-ellipse_purple {
    background-color: rgb(254, 240, 255);
    border-radius: 50%;
    width: 750px;
    height: 750px;
    z-index: -1;
    position: absolute;
    top: 110px;
    left: 215px;
    align-items: center;
}
.background-ellipse_white {
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    width: 700px;
    height: 700px;
    z-index: -1;
    position: absolute;
    top: 135px;
    left: 235px;
    align-items: center;
}